.popup {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    border: green;
  }
  .popup_inner {
    position: absolute;
    top: 20px;
    margin: auto;
    border-radius: 3px;
    background: white;
    width: 500px;
  }
  .questions {
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  
